@{
    ViewData["Title"] = "Contraseña Restablecida";
}

<div class="row justify-content-center">
    <div class="col-md-6 text-center mt-5">
        <h2 class="mb-4">@ViewData["Title"]</h2>
        <p class="lead">Tu contraseña se ha restablecido correctamente.</p>
        <a asp-action="Login" class="btn btn-primary mt-3">Iniciar Sesión</a>
    </div>
</div>
